SmartTurbine101.module/Schemas/inventoryIDJsonResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1551424585317" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1551424585317">
  <complexType name="inventoryIDJsonElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="productid" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="productname" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="quantity" type="integer"/>
    </sequence>
  </complexType>
  <element name="inventoryIDJsonElement" type="tns:inventoryIDJsonElementType"/>
</schema>
